.things{
	a{text-decoration:none;}
	.string_block{
		margin-right:20px;
	}
	.timestamp{
		float:right;
		margin-left:10px;
		color:#9ca4a8;
		font-family: 'BenchNine', sans-serif;
		font-size:15px;
	}
	.string{
		color:#6d747f;
        margin-left:10px;
	}
	.agree_block{
		a{
			i{margin-right:5px;}
			color:#94a1be;
			&:hover{color:#3d6dbe;}
		}

	}
	.disagree_block{
		a{
			i{margin-right:5px;}
			color:#c88e9c;
			&:hover{color:#be1d36;}
		}
	}
}
.copyright{
	color:#9ca4a8;
	margin-top:20px;
	margin-bottom:10px;
	text-align:center;
}
.github{
	text-align:center;
	a{
		color:#666;
		&:hover{
			color:#000;
			text-decoration:none;
		}
	}
	margin-bottom:25px;
}
