.things a {
  text-decoration: none;
}
.things .string_block {
  margin-right: 20px;
}
.things .timestamp {
  float: right;
  margin-left: 10px;
  color: #9ca4a8;
  font-family: 'BenchNine', sans-serif;
  font-size: 15px;
}
.things .string {
  color: #6d747f;
  margin-left: 10px;
}
.things .agree_block a {
  color: #94a1be;
}
.things .agree_block a i {
  margin-right: 5px;
}
.things .agree_block a:hover {
  color: #3d6dbe;
}
.things .disagree_block a {
  color: #c88e9c;
}
.things .disagree_block a i {
  margin-right: 5px;
}
.things .disagree_block a:hover {
  color: #be1d36;
}
.copyright {
  color: #9ca4a8;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}
