<!doctype html>
<html lang="en" ng-app='commonApp'>
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="這不是很 common sense 嗎？">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://dev.common_sense.dars94gmailcom.stackmobapp.com/">
    <meta property="og:image" content="http://dev.common_sense.dars94gmailcom.stackmobapp.com/Common-Sense-385.jpg">
    <meta property="og:descriptions" content="只是年假九點收心練手感做的小玩具">
    <title>這不是很 common sense 嗎？</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/angular.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.js"></script>
    <script type="text/javascript" src="http://static.stackmob.com/js/stackmob-js-0.7.0-bundled-min.js"></script>
    <script type="text/javascript">
        // Initialize StackMob object
        // Copy your init data from here: https://dashboard.stackmob.com/sdks/js/config
        // Your other app information is here: https://dashboard.stackmob.com/settings
        StackMob.init({
            appName: "common_sense",
            clientSubdomain: "dars94gmailcom",
            publicKey: "9922cc1b-4ac0-48e8-9d0a-1343facdce46",
            apiVersion: 0
        });

        var Message = StackMob.Model.extend({
            schemaName : 'message' //Tell StackMob to save instances of TestObject to the table "testobject"
        });

        $(function(){});
    </script>

</head>
<body class="container" ng-controller="commonForm"><br>
    <div class="row">
        <div class="span12 well well-small">
            <div class="thumbnail">
                <img src="img/Common-Sense-385.jpg" width=200 height=200 alt="common sense">
            </div>
            <form action="" class="form-inline" ng-submit="addThing()">
                <fieldset>
                    <legend>我覺得...</legend>
                    <input type="text" id="things" class="span9" placeholder="什麼事..." ng-model="things" required>
                    <button type="submit" class="btn btn-primary">這不是很 common sense 嗎？</button>
                </fieldset>
            </form>
            <div class="alert">
                <strong>提醒!</strong> 資料處理中...
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="things clearfix" ng-repeat="item in commonThings | filter:{isDelete:false}">
                <span class="string_block">
                    <i class="icon-quote-left"></i>&nbsp;
                    <span class="label label-info">{{item.content}}</span>&nbsp;<i class="icon-quote-right"></i>
                    <span class="string">這不是很 common sense 嗎？</span>
                </span>
                <span class="agree_block"><a href="javascript:void(0)" ng-click="agree_btn(item)"><i class="icon-thumbs-up"></i><span class="badge badge-info">+{{item.agree}}</span></a></span>
                <span class="disagree_block"><a href="javascript:void(0)" ng-click="disagree_btn(item)"><i class="icon-thumbs-down"></i><span class="badge badge-important">-{{item.disagree}}</span></a></span>
                <span class="timestamp">{{item.timestamp}}</span>
                <!-- <a href="javascript:void(0)" class="close" ng-click="removeThing(item)"><span class="label label-important">delete</span></a> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 copyright">
            Copyright &copy; 版權所有，沒有版權
        </div>
        <div class="span12 github">
            <a href="https://github.com/dars/common_sense" target="_blank"><i class="icon-github icon-2x"></i></a>
        </div>
    </div>
</body>
</html>
